.pagination
  &-container
    list-style: none
    display: flex
    justify-content: center
    padding: 0 0 1rem
  &-list
    display: flex
    justify-content: center
    align-items: center
    height: 2.5rem
    width: 2.5rem
    background-color: #fff
    border-radius: 3px
    margin: 0 3px
    cursor: pointer
  &-page
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    outline: none
  &-disabled
    cursor: not-allowed
    background-color: #cfd8dc
  &-active-link
    font-weight: bold
    background-color: #718792
    color: #fff
    border-radius: 3px