@import 'fonts'
@import 'media'
@import 'mixins'

@import './components/Header.sass'
@import './components/Pagination.sass'
@import './components/SearchResult.sass'
@import './components/Loader.sass'
@import './components/Rating.sass'
@import './pages/Details.sass'


*
  box-sizing: border-box

html
  font-family: 'Open Sans', sans-serif
  font-size: 10px

body
  margin: 0
  padding: 0
  background: #eceff1
  color: #102027

a
  text-decoration: none
  color: #333

p
  font-size: 1.6rem

small
  font-size: 1.2rem

img
  width: 100%

.container
  max-width: 1000px
  margin: 0 auto
  padding: 120px 40px 40px 40px
  @include medium
    padding: 15px

.title
  font-size: 3rem
  text-align: center

.error
  color: #f44336
  text-align: center